<div class="container">
<p>
  <% if !@progress.nil? %>
    
    <div class="btn-group pull-right">
      <button class="btn btn-default btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        settings <span class="glyphicon glyphicon-menu-down"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#" class="dropdown-item">edit</a></li>
        <li><%= link_to('new', new_routine_path, :class => "dropdown-item", :method => :get) %></li>
      </ul>
    </div>


    <br>
    <br>
    <% @progress.routine['list'].each do |day| %>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>name</th>
              <th>sets</th>
              <th>reps</th>
            </tr>
          </thead>
          <tbody>
            <% day.each do |exerc| %>
              <tr>
                <td class='col-sm-8'><%= exerc[0] %></td>
                <td class='col-sm-2'><%= exerc[1] %></td>
                <td class='col-sm-2'><%= exerc[2] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

  <% else %>
    <h1>
      looks like you are not on a program
    </h1>
    <h3>
      <%= link_to('click here to create a routine', new_routine_path, :method => :get) %><br>
      <%= link_to('click here to browse shared routines', publicroutines_path, :method => :get) %>
    </h3>
  <% end %>
</p>
</div>
