<h1>create a routine</h1>
<%= form_for @routine, url: new_newroutine_path do |f| %>

  <!-- routine name textfield -->
  <div class="row">
    <div class="form-group col-xs-4">
      <%= label_tag :name, "Name of routine", :class => "control-label" %><br>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>

  <!-- description textarea -->
  <div class="row no-margin">
    <div class="form-group">
      <%= label_tag :name, "Description" %>
      <%= f.text_area :description, :class => "form-control", :rows => 8 %>
    </div>
  </div>

  <!-- radio for difficulty -->
  <div class="row no-margin">
    <label class="custom-control custom-radio">
      <%= f.radio_button :difficulty, "novice", :class=>"custom-control-input" %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Novice</span>
    </label>
    <label class="custom-control custom-radio">
      <%= f.radio_button :difficulty, "intermediate", :class=>"custom-control-input" %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Intermediate</span>
    </label>
    <label class="custom-control custom-radio">
      <%= f.radio_button :difficulty, "advanced", :class=>"custom-control-input" %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Advanced</span>
    </label>
  </div>
  <!-- submit button -->
  <div class="row no-margin">
  <%= f.submit "Create", :class => "btn btn-default" %>
  </div>
<% end %>