<div class="col-sm-2">
  <nav class="nav-sidebar">
    <ul class="nav tabs visible-large">
      <li class="active"><a href="#tab1" data-toggle="tab">All Public</a></li>
      <li class=""><a href="#tab2" data-toggle="tab">My Shared</a></li>
      <li class=""><%= link_to("Create New", new_routine_path, :method => :get) %></li>
    </ul>
  </nav>
</div>
  <!-- tab content -->
<div class="container">
  <div class="tab-content">
    <div class="tab-pane active text-style" id="tab1">
      <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <!-- Saved Exercises -->
              <th>
              name
              </th>
              <th>
              difficulty
              </th>
            </thead>
            <tbody>
              <% @sharedroutines.each do |allroutines| %>
                <tr>
                <td>
                <%= link_to(allroutines.name, specroutine_path(allroutines.id), :method => :get) %>
                </td>
                <td>
                <%= allroutines.difficulty %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>


    <div class="tab-pane text-style" id="tab2">
      <% if user_signed_in? && !(@myroutines.length == 0) %>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
              <th>
              name
              </th>
              <th>
              difficulty
              </th>
              </tr>
            </thead>
            <tbody>
              <% @myroutines.each do |allroutines| %>
                <tr>
                <td>
                <%= link_to(allroutines.name, specroutine_path(allroutines.id), :method => :get) %>
                </td>
                <td>
                <%= allroutines.difficulty %>
                </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <%= link_to('click here to create a routine to share', new_routine_path, :method => :get) %>  
      <% end %>
    </div>

  </div>
</div>
