<div class="container">
  <h3><%= @specroutine.name %><br></h3>
  <h4> <%= @specroutine.difficulty %> <br> </h4>
  <h5>
    <%= @specroutine.description %> <br>
    <!-- <%= @specroutine.routine['split'] %> -->
  </h5>

  <!-- <div class="btn-group pull-right"> -->
    <!-- <button class="btn btn-default btn-secondary btn-sm" type="button" aria-haspopup="true" aria-expanded="false"> -->
      <!-- settings <span class="caret"></span> -->

    <!-- </button> -->
<!--     <ul class="dropdown-menu">
      <li><a href="#" class="dropdown-item">edit</a></li>
      <li><%= link_to('new', new_routine_path, :class => "dropdown-item", :method => :get) %></li>
    </ul> -->
  <!-- </div> -->

  <% @specroutine.routine['list'].each do |day| %>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>name</th>
            <th>sets</th>
            <th>reps</th>
          </tr>
        </thead>
        <tbody>
          <% day.each do |exerc| %>
            <tr>
              <td class='col-sm-8'><%= exerc[0] %></td>
              <td class='col-sm-2'><%= exerc[1] %></td>
              <td class='col-sm-2'><%= exerc[2] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>