<div class="container">
  <!-- <div class="btn-group pull-right"> -->
    <!-- <button type="button" class="btn btn-default"> -->
  <%= form_tag setcurrent_path, :method => :patch do %>
    <%= hidden_field_tag :routine_id, @specroutine.id %>
    <%= submit_tag 'set as current', :class => "btn btn-default pull-right" %>
  <% end %>
    <!-- </button> -->
  <!-- </div> -->
  <h3><%= @specroutine.name %><br></h3>
  <h4> <%= @specroutine.difficulty %> <br> </h4>
  <h5>
    <%= @specroutine.description %> <br>
    <!-- <%= @specroutine.routine['split'] %> -->
    <%= @specroutine.id %>
  </h5>


  <% @specroutine.routine['list'].each do |day| %>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>name</th>
            <th>sets</th>
            <th>reps</th>
          </tr>
        </thead>
        <tbody>
          <% day.each do |exerc| %>
            <tr>
              <td class='col-sm-8'><%= exerc[0] %></td>
              <td class='col-sm-2'><%= exerc[1] %></td>
              <td class='col-sm-2'><%= exerc[2] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>