<!DOCTYPE html>
<html>
<head>
  <title>Routine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  
<nav class="navbar navbar-default" role="navigation">
 <div class="container">
   <div class="row">
      <div class="col-md-12">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <%= link_to('Home', root_path, :method => :get, :class => 'navbar-brand') %>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li><%= link_to('All Routines', publicroutines_path, :method => :get) %></li>
                  <li><%= link_to('Saved Routines', myroutines_path, :method => :get) %></li>
                  <li><%= link_to('Progress', progress_path, :method => :get) %></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                <% else %>
                  <li><%= link_to('Sign up', new_user_registration_path, :method => :get) %></li>
                  <li><%= link_to('Sign in', new_user_session_path, :method => :get) %></li>
                <% end %>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </nav>
      </div>
   </div>
</div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>

